TELEGRAPH_NODE_URL=https://devnode.telegraphprotocol.com
TELEGRAPH_ENGINE_URL=https://devnode.telegraphprotocol.com/engine
TELEGRAPH_DAEMON_URL=https://devnode.telegraphprotocol.com/daemon
EVM_NETWORK=eip155:84532
TELEGRAPH_EVM_PRIVATE_KEY=
GATE_MIN_CONFIDENCE=0.6
WATCHLIST_INTERVAL_MS=180000
